*{
  box-sizing: border-box;
  outline: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.nav-logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: black;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.background-image{
  width: 100%;
  height: 949px;
  position: relative;
  display: flex;
}

.background-image img{
  width: 100%;
  height: 100%;
}

.main-frase{
  position: absolute;
  top: 20rem;
  left: 30rem;
  right: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Textos conteudo principal */

.primary-text {
  width: 850px;
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #c11f00;
}

.second-text {
  margin-bottom: 7rem;
  font-size: 2rem;
  color: yellow;
  text-transform: uppercase;
}

/*tabela de preço*/
#planos{
  align-items: center;
  text-align: center;
  background: #1d2224;
}

.container{
  width: 100%;
  padding-top: 3rem;
}

.container h2{
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.container span{
  color: blueviolet;
}

.box-tabelas{
  display: flex;
  justify-content: space-evenly;
  padding-top: 4rem;
  padding-bottom: 4rem;
  
}

.tabela-preco{
  overflow: hidden;
  background: white;
  text-align: center;
  padding-bottom: 2rem;
  border-radius: 20px;
}

.header-preco{
  background: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-preco h2{
  color: blueviolet;
}

.tabela-conteudo{
  background: white;
  color: blueviolet;
  padding: 1.5rem;
  margin: 0.5rem;
}

.btn-assinar{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background: white;
}

.btn-assinar a{
  background: red;
  text-decoration: none;
  border-radius: 20px;
  padding: 1rem;
  color: white;
}

.btn-assinar a:hover{
  background: black;
  transition: 0.7s;
}



#modalidades{
  border-top: 1px solid #c11f00;
  background: #1d2224;
  align-items: center;
  padding-bottom: 2rem;
}

#modalidades h2{
  text-align: center;
  color: #c11f00;
  font-size: 30px;
}

.box-modalidades{
  align-items: center;
}

.modal{
  background: white;
  display: inline-block;
  text-align: center;
}

.modal img{
  width: 20rem;
  height: 10rem;
}


/* footer */
footer{
  background: black;
  color: #ffffff;
}

footer a{
  color: #ffffff;
  font-size: 18px;
}

footer span{
  border-top: 1px solid #c11f00;
  padding: 15px 5px;
  text-align: center;
}

.main-footer{
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
}

.main-footer h1{
  font-size: 26px;
  line-height: 117%;
  margin-bottom: 10px;
  font-weight: 500;
}

#contato p {
  font-size: 18px;
}

.contato-detalhes{
  margin: 10px 0;
  padding-top: 5%;
}

.contato-detalhes a{
  padding-top: 5%;
}

.endereco-detalhes{
  padding-top: 5%;
}

.footer-informacoes a{
  font-size: 18px;
}

.info-padding{
  padding-top: 10%;
}

.sociallogos{
  padding-top: 5%;
}

.logobox img{
  width: 2.2rem; 
  height: 1.5rem;
}

.sociallogos .logobox a{
  padding: 0 10px;
  text-decoration: none;
  font-size: 22px;
}